{% extends 'base.html' %}

{% block header %}
  MT State Senator Vote
{% endblock %}

{% block content %}

<table>
  <tr>
    <th>Bill Name</th>
    <th>Vote</th>
    <th>Date</th>
  </tr>
  {% for row in collection %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      {{row[3]}}
    </td>
  </tr>
  {% endfor %}
</table>
<h1>Enter Senator Info</h1>
<form action="">
  <div>
    Senator ID: <input type="text" name="bID"><br />
    <input type="submit" value="Submit">
  </div>
</form>
<a href="/">Return to Index</a>
{% endblock %}